/*
**
Remember we are using floats so clear fixes are needed. This is the best one in the business :). Note. There is a space in the value of content
**
*/
.row::after {
    content: " ";
    display: block;
    clear: both;
}

.row {
    margin-left: -0.75em;
    margin-right: -0.75em;
}

/*
** Targets all elements with a class attribute that includes "column-"
*/
/* Attribute selector */
[class*="column-"] {
    float: left;
    padding: 0 0.75em;
    margin-top: 0;
}

/*
** Specifying column sizes. The heavy lifting part :)
*/
.column-1 { width: 8.3333% }
.column-2 { width: 16.6667% }
.column-3 { width: 25% }
.column-4 { width: 33.3333% }
.column-5 { width: 41.6667% }
.column-6 { width: 50% }
.column-7 { width: 58.3333% }
.column-8 { width: 66.6667% }
.column-9 { width: 75% }
.column-10 { width: 83.3333% }
.column-11 { width: 91.6667% }
.column-12 { width: 100% }
